a[href="/tasks/new"] {
  display: block;
  text-align: center;
}
.ellipsis {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

// for show.html.erb
.text-center.status { width: 100px; }