<h1><%= I18n.t("users.heading.edit") %></h1>

<%= render 'user/shared/form_edit', user: @user, url: admin_user_path(@user) %>

<%= link_to I18n.t("users.back_to_root_path"), root_path, class: 'btn btn-light' %>